{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Game Of 10</title>
</head>
<body style="display:flex;align-items:center">
    <!--
        <img src="{% static 'img.png' %}"></img>

        {% for i in n %}        #n is variable that contains an integer, this loop generate n divs each div has a number (from 0 to n)
            <div>i</div>
        {% endfor %}

        {% if temp == 1 %}
            <h1>Hello</h1>
        {% endif %} 
    -->

    <div style="display:block; width:300px;margin:0 auto;">
        {% if message %}
            <h1>{{ message }}</h1>
        {% endif %} 

        <form action="match/" method="post">
            {% csrf_token %}
            <input type="text" name="code" placeholder="Enter the code of the game">
            <input type="submit" value="Join">
        </form>
        <button>Create new match</button>
    </div>
    <script src="{% static 'js/index.js'%}"></script>
</body>
</html>