{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Game Of 10</title>
</head>
<body style="display:flex;align-items:center">
    <!--
        <img src="{% static 'img.png' %}"></img>

        {% for i in n %}        #n is variable that contains an integer, this loop generate n divs each div has a number (from 0 to n)
            <div>i</div>
        {% endfor %}

        {% if temp == 1 %}
            <h1>Hello</h1>
        {% endif %} 
    -->

    <div style="display:block; width:300px;margin:0 auto;">
        {% if message %}
            <h1>{{ message }}</h1>
        {% endif %} 

        <form action="match/" method="post">
            {% csrf_token %}
            <input type="text" name="code" id="code" placeholder="Enter the code of the game">
            <input type="submit" class="btn" style="float: inline-end;" value="Join">
        </form>
        {% if isLogin %}
            <form action="newGame/" onsubmit="return confirmation()" method="post">
                {% csrf_token %}
                <button class="btn">Create new match</button>
            </form>
        {% else %}
            <button class="btn" onclick="show_hide_login_view()">Login</button>
            <button class="btn" onclick="show_hide_register_view()" style="float:inline-end">Create Account</button>
        {% endif %} 
    </div>


    <div id="login-container">
        <form id="login-form" action="{% url 'login' %}" method="post">
            <label onclick="show_hide_login_view()" style="cursor: pointer;position:absolute;right: 15px;user-select: none;">X</label>
            {% csrf_token %}
            <div class="form-group" style="margin-top:15px">
                <label for="exampleInputEmail1">Username</label>
                <input id="username" name="username" type="text" class="form-control" placeholder="Enter username">
                <small id="emailHelp" class="form-text text-muted">We'll never share your account with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="InputPassword">Password</label>
                <input id="password" name="password" type="password" class="form-control" placeholder="Password">
              </div>
              <button type="submit" style="float: right;" class="btn btn-primary">Login</button>
        </form>
    </div>

    <div id="register-container">
        <form id="register-form" action="{% url 'register' %}" method="post">
            <label onclick="show_hide_register_view()" style="cursor: pointer;position:absolute;right: 15px;user-select: none;">X</label>
            {% csrf_token %}
            <div class="form-group" style="margin-top:15px">
                <label for="exampleInputEmail1">Username</label>
                <input id="username" name="username" type="text" class="form-control" placeholder="Enter username">
                <small id="emailHelp" class="form-text text-muted">We'll never share your account with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="InputPassword">Password</label>
                <input id="password" name="password" type="password" class="form-control" placeholder="Password">
              </div>
              <div class="form-group">
                <label for="InputConfirmPassword">Confirm Password</label>
                <input id="confirmPassword" name="confirmPassword" type="password" class="form-control" placeholder="Password">
              </div>
              <button type="submit" style="float: right;" class="btn btn-primary">Login</button>
        </form>
    </div>
    <script src="{% static 'js/index.js'%}"></script>
</body>
</html>