{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/match.css' %}">
    <title>Document</title>
</head>
<body>
    <!--
        <img src="{% static 'img.png' %}"></img>

        {% for i in n %}        #n is variable that contains an integer, this loop generate n divs each div has a number (from 0 to n)
            <div>i</div>
        {% endfor %}

        {% if temp == 1 %}
            <h1>Hello</h1>
        {% endif %} 

    <div style="width:100vw;text-align: center;">
        <h1>Creator Name: {{ creatorName }}</h1>
        <h1>Game code:{{ code }}</h1>
        <h1>Board details: {{ board }}</h1>
        <h1>Seoncd Player name: {{ player }}</h1>
    </div>
    -->

    <div id="board">

        {% for x in board_size %}
            {% for x in board_size %}
                <div class="board-item">{{x}}</div>
            {% endfor %}
        {% endfor %}
    </div>

    <script src="{% static 'match.js'%}"></script>
</body>
</html>