{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/match.css' %}">
    <title>Document</title>
</head>
<body>
    <div id="card-container">
        {% for card in cards %}
            <div class="card">{{card}}</div>
        {% endfor %}
    </div>


    <div id="score">Score: <b>{{ myScore }}</b>:<b>{{ enemyScore }}</b> ({% if myTurn %}your turn {% else %}enemy turn{% endif %})</div>

    <div id="board">
        {% for i in board_size %}
            {% for j in board_size %}
                <div class="board-item" data-row="{{i}}" data-column="{{j}}"></div>
            {% endfor %}
        {% endfor %}
    </div>

    <div id="button-container">
        {% csrf_token %}
        <button class="btn discard" onclick="discardSelectedCard()">Discard</button>
        <button class="btn reset" onclick="location.reload()">Reset</button>
        <button class="btn submit" onclick="submitAction()">Submit</button>

    </div>


    <div id="custom-alert-container"></div>

    <script>
        {% if myTurn %}
            var myTurn = true;
        {% else %}
            var myTurn = false;
        {% endif %}

        var lastMove = []
        {% for x in lastMove %}
        lastMove.push([{{x.row}},{{x.column}}])
        {% endfor %}

        var board_detail = "{{board}}"
        var myScore = {{ myScore }}
        var enemyScore = {{ enemyScore }}
    </script>
    <script src="{% static 'js/match.js'%}"></script>
</body>
</html>