{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/match.css' %}">
    <title>Document</title>
</head>
<body>
    <div id="card-container">
        {% for card in cards %}
            <div class="card">{{card}}</div>
        {% endfor %}
    </div>


    <div id="timer">{% if myTurn %}your turn: {% else %}enemy turn: {% endif %}<b>120:00</b></div>

    <div id="board">
        {% for i in board_size %}
            {% for j in board_size %}
                <div class="board-item" data-row="{{i}}" data-column="{{j}}"></div>
            {% endfor %}
        {% endfor %}
    </div>

    <div id="button-container">
        {% csrf_token %}
        <button onclick="submitAction()">submit</button>
    </div>

    <script>
        {% if myTurn %}
            myTurn = true;
        {% else %}
            myTurn = false;
        {% endif %}
        board_detail = "{{board}}"
    </script>
    <script src="{% static 'js/match.js'%}"></script>
</body>
</html>